@charset "UTF8";

@font-face{
    font-family: "cinzel";
    src: url(fontes/Cinzel-VariableFont_wght.ttf) format(truetype);
    font-weight: bold;
}

*{
margin: 0px;
padding: 0px;
font-size: 3vw;
font-family: "cinzel";

}

.none{
    font-family: sans-serif, Arial, Helvetica;
    font-size: 1.5vw;
}


.pimg{
    color: white;
    background-color: rgb(0 0 0 / 59%);
    margin-right: 30vw;
    padding-bottom: 0px;
    
}

.imagem{
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover; 
box-shadow:-3px -1px 12px 0px black;
padding-top: 5vw;
padding-bottom: 5vw;

}

#img1{
background-image: url(imagens/img1.jpg);
background-position: bottom;
/*Jiwen artista*/
}

#img2{
background-image: url(imagens/img2.jpg);
background-position: center;
}




header{
background-color: black;
font-size: 0.5vw;
text-align: center;

}

header > h1{
padding-top: 50px;
color: white;
font-size: 6.5vw;
}

header > p{
color: white;
text-align: center;
font-size: 1.5vw;
padding-bottom: 50px;
}

section{
padding-top: 10vw;
padding-bottom: 10vw;
padding-left: 30px;
line-height: 2em;
}

section > p{
padding-bottom: 80px ;
}

.padrao{
font-weight: bold;
line-height: 2em;
padding-bottom: 10vw;
padding-top: 6vw;
}

.imagem{
font-weight: bold;
line-height: 2em;
}

footer{
    background-color: black;
    color: white;
    font-size: 1.5vw;
    
}

footer > p {
    text-align: center;
    font-size: 1.2vw;
    padding: 7px 7px 7px 7px;
    
}

.externo{
    font-size: 1.2vw;
    color: white;
    text-decoration: none;
}

.externo:hover{
    text-decoration: underline;
}



